* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
}

textarea:focus {
  outline: none;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 10px 5px 0;
}

button:hover {
  background-color: #0056b3;
}

button.disabled,
button.disabled:hover {
  background-color: #ccc;
  cursor: not-allowed;
}

button.inverse {
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;
}

button.inverse:hover {
  background-color: #0056b3;
  color: #fff;
  border: 1px solid #0056b3;
}

button.hidden {
  display: none;
}

#resultOutput {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  min-height: 50px;
}

#resultOutput.hidden {
  display: none;
}

.small-text {
  font-size: 14px;
  color: #999;
}
