/* General body styles */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 30px;
  background-color: #f0f4f8;
  color: #333333;
}

/* Container to center content */
.container {
  max-width: 900px;
  height: 100%;
  text-align: center;
  margin: auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Site logo styling */
.site-logo {
  max-width: 250px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Heading styles */
h1 {
  font-size: 2.5rem;
  color: #32a4dc;
  margin-bottom: 30px;
}

h3 {
  margin: 30px 0 5px;
}

/* Textarea styles */
textarea {
  font-family: inherit;
  width: 100%;
  height: 105px;
  padding: 15px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f8f9fa;
  resize: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

textarea.shrink-height {
  height: 70px;
}

textarea:focus {
  outline-color: #2086b8;
  border-color: #2086b8;
}

/* Button styles */
button {
  padding: 15px 30px;
  margin: 30px 10px 0 10px;
  font-size: 1.1rem;
  background-color: #32a4dc;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 123, 255, 0.2);
}

button:hover,
button:focus {
  background-color: #2086b8;
}

button:focus {
  outline: none;
}

/* Disabled button styles */
button.disabled,
button.disabled:hover {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Inverse button styles (reset button) */
button.inverse {
  background-color: #ffffff;
  color: #32a4dc;
  border: 1px solid #32a4dc;
}

button.inverse:hover,
button.inverse:focus {
  background-color: #2086b8;
  color: #ffffff;
  border: 1px solid #2086b8;
}

button.inverse:focus {
  outline: none;
}

button.hidden {
  display: none;
}

/* Output and advice sections */
#resultOutput {
  text-align: start;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  font-size: 1.1rem;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
  color: #333333;
}

#resultOutput.hidden {
  display: none;
}

/* Font specific styling */
.small-text {
  font-size: 12px;
  color: #999999;
}

/* Responsive styles */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }
}
